<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>map_sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,224}</string>
                <key>spriteSourceSize</key>
                <string>{224,224}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>map_extruded.png</string>
            <key>size</key>
            <string>{226,226}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d887a3600604cc7856b448c59b8ab8b:a6d3d4a0e366712d2757d43bd8160ab7:0d450a08f4b0c802e3d3aefeef65fb2e$</string>
            <key>textureFileName</key>
            <string>map_extruded.png</string>
        </dict>
    </dict>
</plist>
